<a href="https://colab.research.google.com/github/OConnorsphysics/EquipmentRentalAnalysis/blob/main/Equipment_Data_Creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook will be used to generate a fake dataset of a national equipment rental company. This data will then be used to build visualizations that a data analyst working for the company may send to managers or shareholders.

In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
from random import randrange, randint
import datetime

In [80]:
def random_date():
  start_date = datetime.date(2015, 1, 1)
  end_date = datetime.date(2021, 12, 31)

  time_between_dates = end_date - start_date
  days_between_dates = time_between_dates.days
  random_number_of_days = random.randrange(days_between_dates)
  random_date = start_date + datetime.timedelta(days=random_number_of_days)
  return(random_date)

In [87]:
#list of all equipment types
equipment_list = ['10ftscissorlift', '12ftscissorlift', '16ftscissorlift', '30ftscissorlift', '34ftboomlift', '45ftboomlift', '40smoothroller', '66padroller',\
                  '84smoothroller', 'jumpingjack', 'platecompactor', 'revplatecompactor', 'trenchroller', '2tonexcavator', '1tonexcavator', '5tonexcavator', \
                  '10fteasyfence', '10ftcrowdfence', '10kwgenerator', '100kwgenerator', '3000wgenerator', '5000lbforklift', '19fttelehandler', \
                  '40fttelehandler', 'vortexfan', 'pedestalfan', '1000psiwasher', 'messageboard', 'finishnailer', 'roofnailer', 'impactwrench', 'hardwoodnailer', \
                  '17lbairbreaker', '30lbairbreaker', 'beltsander', 'draincleaner', '8drumsander', 'grinder', 'hammerdrill', 'jigsaw', 'recipsaw', 'circularsaw',\
                  'chainsaw', 'lawnroller', 'hedgetrimmer']

In [88]:
branch_list = ['Calgary', 'Edmonton', 'Vancouver', 'Toronto', 'Kitchener', 'Ottawa East', 'Ottawa Downtown', 'Barrie', \
               'Mississauga', 'Bolton', 'Bracebridge', 'Oshawa', 'Ottawa Nepean', 'St-Laurent', 'Anjou', 'Surrey', 'Chilliwack', 'Langley', 'Lethbridge', \
               'Medicine Hat', 'Taber', 'Leduc', 'Saint John', 'Dartmouth', 'Brossard', 'Maple Ridge']

In [89]:
customer_list = ['Contractor', 'Individual', 'Staff']

In [90]:
machine_rates = {
    '10ftscissorlift': 200, '12ftscissorlift': 250, '16ftscissorlift': 300, '30ftscissorlift': 400, '34ftboomlift': 400,
    '45ftboomlift': 450, '40smoothroller': 500, '66padroller': 700,'84smoothroller': 850,'jumpingjack': 80,
    'platecompactor': 200,'revplatecompactor': 225,'trenchroller': 400,'2tonexcavator': 700,'1tonexcavator': 900,
    '5tonexcavator': 1300,'10fteasyfence': 25,'10ftcrowdfence': 25,'10kwgenerator': 500,'100kwgenerator': 900,
    '3000wgenerator': 200,'5000lbforklift': 450,'19fttelehandler': 600,'40fttelehandler': 750,'vortexfan': 50,
    'pedestalfan': 30,'1000psiwasher': 75,'messageboard': 200,'finishnailer': 40,'roofnailer':40, 
    'impactwrench':40, 'hardwoodnailer':50, '17lbairbreaker':60, '30lbairbreaker':70, 'beltsander':30, 
    'draincleaner':15, '8drumsander':75, 'grinder':30, 'hammerdrill':30, 'jigsaw':25, 
    'recipsaw':30, 'circularsaw':30, 'chainsaw':50, 'lawnroller':20, 'hedgetrimmer':45
}

Below I am going to randomly generate rental transaction data with different weights for differernt braches. This copy and pasted method should be made into a function if I want to use it more.

In [147]:
data =[]

In [148]:
# a function to generate the random rows of data given regions of each table, customer weights is a 3 int list (Ex. [50,10,1]), branch (0-25), equipment(0-44)
def data_generator(rows, eq_lower, eq_upper, branch_lower, branch_upper, customer_weights, days_upper, damaged_upper):
  data = []
  for i in range(rows):
    equipment = random.choice(equipment_list[eq_lower:eq_upper])
    branch = random.choice(branch_list[branch_lower:branch_upper])
    customer = random.choices(customer_list, weights=customer_weights)
    data.append([random_date(), equipment, machine_rates[equipment], randint(1,days_upper), branch, random.choices([True, False], weights=(1,damaged_upper)), customer])
  return data

I can run this cell multiple times with varying inputs to create a diverse dataset.

In [175]:
#rows, eq_lower, eq_upper, branch_lower, branch_upper, customer_weights, days_upper, damaged_upper
data = data  + data_generator(5000, 30, 44, 15, 25, [35,5,1], 6, 25)

In [176]:
df_rentals= pd.DataFrame(data, columns = ['Date', 'Equipment_Type', 'Daily_Rate', 'Num_Days', 'Branch', 'Damaged', 'Customer_Type'])

In [169]:
df_rentals.head()

,Date,Equipment_Type,Daily_Rate,Num_Days,Branch,Damaged,Customer_Type
0,2020-01-04,trenchroller,400,13,Kitchener,[False],[Contractor]
1,2021-01-21,trenchroller,400,4,Ottawa Downtown,[False],[Individual]
2,2017-11-12,trenchroller,400,33,Ottawa Downtown,[False],[Contractor]
3,2017-06-23,1tonexcavator,900,23,Ottawa Downtown,[False],[Individual]
4,2021-05-10,platecompactor,200,22,Ottawa Downtown,[False],[Contractor]

In [134]:
df_rentals.dtypes

Date              object
Equipment_Type    object
Daily_Rate         int64
Num_Days           int64
Branch            object
Damaged           object
Customer_Type     object
dtype: object

In [177]:
df_rentals.sort_values(by = ['Date'], inplace=True, ascending = True)

In [178]:
df_rentals.reset_index(drop=True, inplace=True)

In [179]:
df_rentals

,Date,Equipment_Type,Daily_Rate,Num_Days,Branch,Damaged,Customer_Type
0,2015-01-01,vortexfan,50,10,Toronto,[False],[Contractor]
1,2015-01-01,66padroller,700,2,Bolton,[False],[Contractor]
2,2015-01-01,10ftscissorlift,200,5,Brossard,[False],[Contractor]
3,2015-01-01,10ftscissorlift,200,4,Lethbridge,[False],[Contractor]
4,2015-01-01,5tonexcavator,1300,1,Brossard,[False],[Contractor]
...,...,...,...,...,...,...,...
53995,2021-12-30,5000lbforklift,450,3,Mississauga,[False],[Contractor]
53996,2021-12-30,impactwrench,40,35,Barrie,[False],[Individual]
53997,2021-12-30,5000lbforklift,450,44,Kitchener,[False],[Contractor]
53998,2021-12-30,2tonexcavator,700,2,Barrie,[False],[Individual]
53999,2021-12-30,84smoothroller,850,2,Mississauga,[False],[Contractor]

In [180]:
df_rentals.describe()

         Daily_Rate      Num_Days
count  54000.000000  54000.000000
mean     233.528056     11.944481
std      305.958813     14.101114
min       15.000000      1.000000
25%       30.000000      2.000000
50%       60.000000      5.000000
75%      400.000000     18.000000
max     1300.000000     50.000000

In [139]:
df_rentals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49000 entries, 0 to 48999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            49000 non-null  object
 1   Equipment_Type  49000 non-null  object
 2   Daily_Rate      49000 non-null  int64
 3   Num_Days        49000 non-null  int64
 4   Branch          49000 non-null  object
 5   Damaged         49000 non-null  object
 6   Customer_Type   49000 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.6+ MB

In [181]:
df_rentals.to_csv('/content/EquipmentRentalData.csv')

The created dataset was then analyzed and visualized using Tableau public. The visualization can be found at:
 https://public.tableau.com/shared/949W555GP?:display_count=n&:origin=viz_share_link